<h1>App Component</h1>

<h2>Admin Page</h2>
<ul>

    <li><a routerLink="Admin/login">Login</a></li>
    <li><a routerLink="Admin/list">List</a></li>

</ul>



<h2>User Page</h2>
<ul>
    
    <li><a routerLink="User/login">Login</a></li>
    <li><a routerLink="User/list">List</a></li>

</ul>


<router-outlet></router-outlet>














<!-- <ul>
    <li *ngFor="let user of users">
        {{user.Name}} {{user.Age}}
    </li>
</ul>
<app-footer></app-footer> -->

<!-- <h1>Code Step By Step</h1>
<a routerLink="">Home</a>
<br>
<a routerLink="about">About</a>
<br>
<a routerLink="user">user</a>
<br>
<a routerLink="xyz">xyz</a>


<br><br>
<a routerLink="user/30">Junaid</a>
<br>
<a routerLink="user/40">Ali</a>
<br>
<a routerLink="user/50">Aalishan</a>

<router-outlet></router-outlet> -->